FACULTY_DB_PASSWORD=Replace_With_A_Strong_SQL_Password_123!
FACULTY_JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
FACULTY_REACT_ORIGIN=https://faculty.example.edu
FACULTY_ADMIN_EMAIL=admin@faculty.example.edu
FACULTY_ADMIN_PASSWORD=Replace_Admin_Password_123!
