**/bin/
**/obj/
.vs/
.vscode/
*.user
*.suo
*.db
*.log
.env
TestResults/
coverage/
**/node_modules/
**/dist/
*.tsbuildinfo
.env.local
/FacultyManagement.Data/FacultyManagement.Data.csproj
/FacultyManagement.IntegrationTests/FacultyManagement.IntegrationTests.csproj
/global.json
/FacultyManagement.Business/FacultyManagement.Business.csproj
/FacultyManagement.Api/FacultyManagement.Api.csproj
/FacultyManagement.Api/appsettings.json
